<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NR6Pack" version="0.9.0" targetFramework="net46" userInstalled="true" />
  <package id="ServiceStack" version="4.0.38" targetFramework="net45" userInstalled="true" />
  <package id="ServiceStack.Client" version="4.0.38" targetFramework="net45" userInstalled="true" />
  <package id="ServiceStack.Common" version="4.0.38" targetFramework="net45" userInstalled="true" />
  <package id="ServiceStack.Interfaces" version="4.0.38" targetFramework="net45" userInstalled="true" />
  <package id="ServiceStack.Text" version="4.0.38" targetFramework="net45" userInstalled="true" />
  <package id="StyleCop.Analyzers" version="1.0.0-alpha006" targetFramework="net46" userInstalled="true" />
</packages>